<html>
<head>
<body>
<div class="topics">

<% @topics.each do |topic| %>
<%= link_to "#{topic.title}", topic_responses_path(topic.id), method: :get %>
<p>レス数: <%= topic.responses.length %> 勢い:
<% if @responses[topic.id].present? %>
<%= @responses[topic.id] %>
<% else %>
0
<% end %>
</p>


<% end %>
</div>



<div class="login">
<a href="/users/sign_in">ログインしちゃう？
</div>

</body>
</head>
</html>




