<html>
<head>
<body>
<div class="topics">

<% @topics.each do |topic| %>
<%= topic.title %>
<% end %>
</div>



<div class="login">
<a href="/users/sign_in">ログインしちゃう？
</div>

</body>
</head>
</html>




